body {
  margin: 50px;
  padding: 0 auto;
  border-radius: 10px;
  background-color: white;
  max-width: 662.5%;
  font-family: sans-serif;
}

.navbar {
  background: black;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #212121;
  width: 100%;
  height: 5.2em;
}

.mobile-menu-btn {
  font-size: 14px;
  padding: 9px;
  display: none;
  float: right;
  cursor: pointer;
  color: white;
}

.logo {
  float: left;
  width: 5rem;
  padding: 9px;
}

.header {
  float: right;
  margin: 27px 0px;
  li {
    float: left;
    padding: 0 2rem;
    list-style: none;
  }
  a {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    &:hover {
      color: #d4af37;
    }
  }
  .social-media-icons {
    padding: 9px;
    float: right;
    li {
      float: right;
      font-size: 10px;
      color: white;
    }
  }
}

.hero {
  background: black;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 781px;
  .welcome-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17pt;
    letter-spacing: 1px;
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .artist-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 74pt;
    font-weight: bold;
    color: white;
    position: absolute;
    font-size: 6em;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

  .boxabout {
    margin-top: 1em;
    .row {
      display: flex;
      .gallery-section {
        background-color: #d4af37;
        margin-left: 1.3em;
        height: 16px;
        padding: 26px;
        text-transform: uppercase;
        color: white;
        .titlegalleryleft {
          float: left;
        }
        .titlegalleryright {
          float: right;
        }
      }
      .aboutartist {
        display: flex;
        padding: 1.3em;
        background: black;
        .bio {
          padding-left: 1.3em;
          width: 52%;
          font-family: 'Montserrat', sans-serif;
          text-align: justify;
          font-size: 13pt;
          line-height: 28px;
          color: white;
          .line {
            background-color: #d4af37;
            width: 100%;
            height: 1px;
          }
          .bioTitle {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 37px 0;
            font-size: 49pt;
            color: white;
          }
        }
        .imageHere {
          float: 1;
          background-color: red;
          width: 720px;
          height: 685px;
        }
      }
      .col-inline {
        flex: 2;
    }
  }
}
.boxsongs {
  background-color: black;
  height: 12em;
  margin-top: 1em;
  padding: 1em;
  .left-side {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }
  .right-side {
    float: right;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }
}

.boxnews {
  margin: 1em 0px;
  .row {
    display: flex;
    .divder {
      margin: 0 1.3em;
    }
    .tab-section {
      flex: 3;
      background-color: #d4af37;
      height: 16px;
      padding: 26px;
      text-transform: uppercase;
      color: white;
      .titlegalleryleft {
        float: left;
      }
      .titlegalleryright {
        float: right;
      }
    }
  }
}

.boxvideos {
  background-color: black;
  height: 12em;
  margin-top: 1em;
  padding: 1em;
  .left-side {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }
  .right-side {
    float: right;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }
}

// .audio-player-wrapper {
//   background-color: black;
//   width: 100%;
//   height: 3em;
//   .audio-player-controls {
//     background: #e3e3e3;
//     height: 1em;
//     width: 100%;
//     .audio-player-progress {
//       background: #d4af37;
//       width: 50px;
//       height: 1em;
//     }
//   }
// }
