body {
  margin: 50px;
  padding: 0 auto;
  border-radius: 10px;
  background-color: white;
  max-width: 662.5%;
  font-family: sans-serif; }

.navbar {
  background: black;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #212121;
  width: 100%;
  height: 5.2em; }

.mobile-menu-btn {
  font-size: 14px;
  padding: 9px;
  display: none;
  float: right;
  cursor: pointer;
  color: white; }

.logo {
  float: left;
  width: 8rem;
  padding: 9px; }

.header {
  float: right;
  margin: 27px 0px; }
  .header li {
    float: left;
    padding: 0 2rem;
    list-style: none; }
  .header a {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white; }
    .header a:hover {
      color: #d4af37; }
  .header .social-media-icons {
    padding: 9px;
    float: right; }
    .header .social-media-icons li {
      float: right;
      font-size: 10px;
      color: white; }

.hero {
  background: black;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 781px; }
  .hero .welcome-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17pt;
    letter-spacing: 1px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .hero .artist-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 74pt;
    font-weight: bold;
    color: white;
    position: absolute;
    font-size: 6em;
    top: 47%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.boxabout {
  margin-top: 1em; }
  .boxabout .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .boxabout .row .gallery-section {
      background-color: #d4af37;
      margin-left: 1.3em;
      height: 16px;
      padding: 26px;
      text-transform: uppercase;
      color: white; }
      .boxabout .row .gallery-section .titlegalleryleft {
        float: left; }
      .boxabout .row .gallery-section .titlegalleryright {
        float: right; }
    .boxabout .row .aboutartist {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 1.3em;
      background: black; }
      .boxabout .row .aboutartist .bio {
        padding-left: 1.3em;
        width: 52%;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        font-size: 13pt;
        line-height: 28px;
        color: white; }
        .boxabout .row .aboutartist .bio .line {
          margin: 24px 0px;
          background-color: #d4af37;
          width: 100%;
          height: 1px; }
        .boxabout .row .aboutartist .bio .bioTitle {
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 37px 0;
          font-size: 49pt;
          color: white; }
      .boxabout .row .aboutartist .imageHere {
        float: 1;
        background-color: red;
        width: 720px;
        height: 685px; }
    .boxabout .row .col-inline {
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }

.boxsongs {
  background-color: black;
  height: 12em;
  margin-top: 1em;
  padding: 1em; }
  .boxsongs .left-side {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white; }
  .boxsongs .right-side {
    float: right;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: white; }

.boxnews {
  margin: 1em 0px;
  clear: both; }
  .boxnews .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .boxnews .row .divder {
      margin: 0 1.3em; }
    .boxnews .row .tab-section {
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
      background-color: #d4af37;
      height: 16px;
      padding: 26px;
      text-transform: uppercase;
      color: white; }
      .boxnews .row .tab-section .titlegalleryleft {
        float: left; }
      .boxnews .row .tab-section .titlegalleryright {
        float: right; }

.boxvideos {
  background-color: black;
  height: auto;
  margin-top: 1em; }
  .boxvideos .left-side {
    float: left;
    font-size: 22px;
    padding: 1em 1em 0 1em;
    text-transform: uppercase;
    margin: 0;
    color: white; }
  .boxvideos .right-side {
    float: right;
    font-size: 22px;
    padding: 1em 1em 0 1em;
    text-transform: uppercase;
    margin: 0;
    color: white; }

.ablum-song-list {
  clear: both;
  margin: 0 auto;
  padding: 25px 0px;
  width: 95%; }
  .ablum-song-list li {
    list-style: none;
    display: inline-block;
    margin: 0px 1rem; }
    .ablum-song-list li img {
      width: 166px;
      height: 166px; }

.arrow-left {
  background-color: #d4af37;
  position: relative;
  float: left;
  top: -134px;
  cursor: pointer;
  left: -25px;
  height: 50px;
  width: 50px; }

.arrow-right {
  background-color: #d4af37;
  position: relative;
  float: right;
  top: -134px;
  cursor: pointer;
  right: -25px;
  height: 50px;
  width: 50px; }
